BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ref[0]" SITE "50" ;
LOCATE COMP "ref[1]" SITE "49" ;
LOCATE COMP "ref[2]" SITE "45" ;
LOCATE COMP "sel" SITE "43" ;
LOCATE COMP "a[0]" SITE "42" ;
LOCATE COMP "a[1]" SITE "39" ;
LOCATE COMP "a[2]" SITE "38" ;
LOCATE COMP "b[0]" SITE "44" ;
LOCATE COMP "b[1]" SITE "41" ;
LOCATE COMP "b[2]" SITE "40" ;
LOCATE COMP "display[6]" SITE "33" ;
LOCATE COMP "display[5]" SITE "32" ;
LOCATE COMP "display[4]" SITE "25" ;
LOCATE COMP "display[3]" SITE "26" ;
LOCATE COMP "display[2]" SITE "28" ;
LOCATE COMP "display[1]" SITE "34" ;
LOCATE COMP "display[0]" SITE "35" ;
