BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "I0" SITE "41" ;
LOCATE COMP "I2" SITE "39" ;
LOCATE COMP "e" SITE "28" ;
LOCATE COMP "f" SITE "34" ;
LOCATE COMP "d" SITE "26" ;
LOCATE COMP "c" SITE "25" ;
LOCATE COMP "g" SITE "35" ;
LOCATE COMP "b" SITE "32" ;
LOCATE COMP "I1" SITE "40" ;
LOCATE COMP "I3" SITE "38" ;
LOCATE COMP "a" SITE "33" ;
IOBUF PORT "a" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "b" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "c" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "d" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "e" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "f" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "g" PULLMODE=UP IO_TYPE=LVCMOS25 ;
